.contacts {
    padding: 0px 0 30px;
    box-sizing: border-box;

    height: 82.4vh;

    .contacts-content {
        padding: 27px 0;
        width: 80%;
        max-width: 1080px;
        margin: auto;

        .content-text {

        }
    }
}