.footer {
    background-color: #333333;
    padding-top: 15px;
    box-sizing: border-box;

    height: 80px;

    .footer-container {
        width: 80%;
        max-width: 1080px;
        margin: auto;
        position: relative;
        text-align: left;

        .footer-widgets {
            
            display: flex;

            .footer-widget {
                width: 60% !important;
                margin: 0% 2% 1% 0;
                float: left;
                color: #fff !important;
                box-sizing: border-box;

                padding-left: 0px;

                .widget-nav {
                    margin-bottom: 0 !important;
                    width: 100%;
                    float: left;
                    max-width: 100%;
                    font-weight: bold;
                    word-wrap: break-word;

                    display: flex;

                    .nav-element {
                        padding-left: 20px;
                        font-size: 14px;

                        .nav-el {
                            color: white;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}